<div [@routerTransition]>
  <app-page-header [heading]="pageHeading" [icon]="'fa-edit'"></app-page-header>
  <div class="row form-outer">
    <div class="card">
      <div class="card-header">
        {{ pageHeading }}
      </div>
      <div class="card-block">
        <form [formGroup]="examForm" (ngSubmit)="onSubmit()" class="form-size">
          <div class="Container fluid">
            <div class="row form-inner">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>Exam Name</mat-label>
                    <input matInput formControlName="examName">
                  </mat-form-field>
                  <mat-error>
                    <span *ngIf="!examForm.get('examName').valid && examForm.get('examName').touched">
                      <span *ngIf="examForm.get('examName').errors['required']">Please enter student name
                      </span>
                    </span>
                  </mat-error>
                </div>
                <div class="form-group">
                    <mat-form-field appearance="outline">
                      <mat-label>Total Questions</mat-label>
                      <input type="number" matInput formControlName="totalQues">
                    </mat-form-field>
                    <mat-error>
                      <span *ngIf="!examForm.get('totalQues').valid && examForm.get('totalQues').touched">
                        <span *ngIf="examForm.get('totalQues').errors['required']">Please enter student name
                        </span>
                      </span>
                    </mat-error>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">

                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>Total Exam Minute</mat-label>
                    <input type="number" matInput formControlName="totalMinute">
                  </mat-form-field>
                  <mat-error>
                    <span *ngIf="!examForm.get('totalMinute').valid && examForm.get('totalMinute').touched">
                      <span *ngIf="examForm.get('totalMinute').errors['required']">Please enter student name
                      </span>
                    </span>
                  </mat-error>
                </div>
                <div class="form-group">
                    <mat-form-field appearance="outline">
                      <mat-label>Total Marks</mat-label>
                      <input type="number" matInput formControlName="totalMarks">
                    </mat-form-field>
                    <mat-error>
                      <span *ngIf="!examForm.get('totalMarks').valid && examForm.get('totalMarks').touched">
                        <span *ngIf="examForm.get('totalMarks').errors['required']">Please enter student name
                        </span>
                      </span>
                    </mat-error>
                  </div>
              </div>
            </div>
            <div class="button-row">
              <button mat-raised-button [disabled]="!examForm.valid" color="primary">{{ btnText }}</button> &nbsp;&nbsp;
              <!-- [disabled]="!examForm.valid" -->
              <button routerLink="/exam" mat-raised-button color="warn">Cancel</button>
              <p *ngIf="submitSuccess == 1" class="success">{{ successMsg }}</p>
              <p *ngIf="submitSuccess == 0" class="failed"> Failed to submit data please try again later</p>
            </div>
          </div>
        </form>
      </div>
    </div>
    <br>
  </div>
</div>
