.form-outer {
    padding: 18px;
}

.form-inner {
    padding: 24px;
}

.form-size {
    width: 100%;
}

.mat-form-field {
    display: block;
}

.button-row {
    padding-left: 18px;
    margin-bottom: 16px;
}

.card {
    width: 100%;
}

.card-header {
    color: whitesmoke;
    font-weight: 900;
    background-color: rgb(91, 179, 255);
}

.heading {
    display: block;
    width: 100%;
    text-align: center;
}

.text-muted {
    color: #ffffff !important;
    background-color: #7b7b7b;
    padding: 10px;
    border-radius: 4px;
    font-weight: bolder;
}

.head-text {
    text-decoration: underline;
    font-weight: bolder;
    font-size: 32px;
    color: #007bff;
}

.mat-form-field {
    width: 100%;
}

.button-row {
    display: block;
    margin: auto;
    text-align: center;
}

.start-exam-btn {
    background-color: #28a745;
    color: white;
    min-width: 320px;
}

.allow-login-btn {
    min-width: 320px;
}
